.banner-1 {
    .slick-banner {
        .slick-prev {
            left: 70px;
            z-index: 1;
            &::before {
                font-size: 40px;
            }
        }
        .slick-next {
            right: 90px;
            z-index: 1;
            &::before {
                font-size: 40px;
            }
        }

        .banner {
            max-height: 712px;
            .overlay {
                color: #FFF;
                font-family: 'Poppins', sans-serif;
                width: 60%;
                z-index: 1;
                top: 12rem;
                left: 15rem;
                h2 {
                    font-size: 5rem;
                }

                .btn {
                    border: 1px solid #FFF;
                    color: #fff;
                    font-size: 1rem;
                    border-radius: .5rem;
                    text-transform: uppercase;
                    width: 20%;
                }
            }

            img {
                opacity: .8;
            }
        }

    }
    
}

.banner-blog {
    .banner {
        img {
            opacity: .8;
        }
    }
    .overlay {
        color: #FFF;
        font-family: 'Poppins', sans-serif;
        z-index: 1;
        h2 {
            font-size: 5rem;
        }
    }
}