@use "mixin";

.modulo-1 {
    padding: 3rem 0;
    
}

.modulo-2 {
    padding: 3rem 0;
    .blog {
        &::after {
            content: url("https://via.placeholder.com/400x30");
        }
        &::before {
            content: url("https://via.placeholder.com/400x30");
        }
    }
}

.modulo-3 {
    padding: 3rem 0 4rem 0;
    background-color: #e1738c;

    form {
        padding: 2rem 1rem;
        background-color: #fff;
        border-radius: 10px;
        position: absolute;
        top: 280px;
        width: 80%;
        .form-select {
            width: 30%;
            margin: 0 1rem;
        }
    }

}

.modulo-4 {
    padding: 4rem 0;
}

.modulo-5 {
    padding: 3rem 0 4rem 0;
    background-color: #e1738c;

    form {
        padding: 2rem 1rem;
        background-color: #fff;
        border-radius: 10px;
        position: absolute;
        top: 280px;
        width: 80%;
        .form-select {
            width: 30%;
            margin: 0 1rem;
        }
    }

}

.modulo-6 {
    padding: 4rem 0;
}