.menu {
    border-top: 5px solid #80c0e4;
    
    .navbar-brand {
        width: 80px;
        height: auto;
    }
    .navbar-nav {
        .nav-item {
            margin: 0 2rem;
            .nav-link {
                text-transform: uppercase;
                font-size: 1.25rem;
                transition: all ease-in .2s;
                font-weight: 700;
                font-family: 'Poppins', sans-serif;
                &:hover {
                    color: #e1738c;
                }
            }
        }
        &.navbar-login {
            .nav-item {
                margin: 0 .5rem;
                .nav-link {
                    color: #5ba0d3;
                    &:hover {
                        color: #e1738c;
                    }
                }
            }

        }
    }
}